<!-- filepath: /c:/Users/Jason/Desktop/Rainbow Media/_rm/gallery/templates/gallery/gallery.html -->
{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<h2>Gallery</h2>
<div class="container">
    <div class="row justify-content-center">
        {% for image in page_obj %}
            <div class="col-6 col-md-4 col-lg-2 mb-4 d-flex align-items-stretch">
                {% include 'components/gallery_item.html' with image=image %}
            </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination Controls -->
{% include 'components/pagination.html' %}

{% endblock %}