{% extends "base.html" %}

{% load static %}

{% load custom_filters %}

{% block title %}Gallery{% endblock %}

{% load static %}

{% block content %}

<!-- Image -->
<div style="background-color: black;">
    <div style="text-align: center;">
        <img src="{{ image.image_file.url }}" alt="{{ image.title }}" style="max-width: 100%; max-height: calc(100vh - 122px); height: auto;">
    </div>
</div>

<!-- Image Detail Bar -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="my-2" style="display: flex; align-items: center;">
                    {% if image.user.userprofile.profile_picture %}
                        <img src="{{ image.user.userprofile.profile_picture.url }}" alt="{{ image.user.username }}" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                    {% else %}
                        <img src="{% static 'img/placeholder.png' %}" alt="{{ image.user.username }}" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                    {% endif %}
                    <div>
                        <h5 style="margin-bottom: -2px;">{{ image.title }}</h5>
                        {% if image.user == user %}
                            <p class="mb-0">by <a href="{% url 'profile' %}" style="color: black;">{{ image.user.username }}</a></p>
                        {% else %}
                            <p class="mb-0">by <a href="{% url 'user_profile' image.user.username %}" style="color: black;">{{ image.user.username }}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col" style="display: flex; align-items: center; justify-content: flex-end;">
                <div class="d-flex align-items-center">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'add_to_album' image.id %}" class="form-inline mr-2" id="add-to-album-form">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <select name="album_id" id="album_id" class="form-control" style="display: none;" onchange="this.form.submit()">
                                    <option value="" disabled selected>Add to Album</option>
                                    {% for album in user_albums %}
                                        <option value="{{ album.id }}">{{ album.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" id="toggle-button" style="border-radius: 0.25rem;">
                                        <i class="fas fa-book"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    <a href="{% url 'like_image' image.id %}" class="btn btn-primary mb-2 mr-2"><i class="fas fa-thumbs-up"></i></a>
                    <a href="{% url 'favorite_image' image.id %}" class="btn btn-secondary mb-2 mr-2"><i class="fas fa-star"></i></a>
                    <a href="{{ image.image_file.url }}" download class="btn btn-success mb-2 mr-2"><i class="fas fa-download"></i></a>
                    <a href="#" class="btn btn-info mb-2"><i class="fas fa-share"></i></a>
                </div>
            </div>
        </div>

        <style>
            .btn:focus {
                outline: none;
                box-shadow: none;
            }
            .image-details {
                font-size: 0.8rem; /* Smaller text size */

            }
            .image-details i {
                 font-size: 0.8rem; /* Match icon size to text size */
            }
            .image-tags .badge {
                font-size: 0.875rem; /* Larger badge text size */
                padding: 0.5em 0.75em; /* Increase padding for better readability */
                margin-right: 0.25rem; /* Space between badges */
            }
            .image-tags .extra-tags {
                display: none; /* Hide extra tags by default */
            }
            .show-more-less {
                color: black; /* Make the text black */
                text-decoration: underline; /* Always underline the text */
                cursor: pointer; /* Change cursor to pointer */
            }
            .show-more-less:focus {
                color: black; /* Keep the text black when focused */
            }
        </style>

        
        

        <div class="image-details">
            <!-- Font Awesome image icon -->
            <p><i class="fas fa-image"></i> {{ image.width }} × {{ image.height }} — {{ image.format }} {{ image.size|filesizeformat }}</p>
        </div>

        <div class="image-tags mb-4">
            {% for tag in image.tags.all %}
                {% if forloop.counter <= 1 %}
                    <a href="{% url 'tagged_images' tag.id %}" class="badge badge-secondary">{{ tag.name }}</a>
                {% else %}
                    <a href="{% url 'tagged_images' tag.id %}" class="badge badge-secondary extra-tags">{{ tag.name }}</a>
                {% endif %}
            {% endfor %}
            {% if image.tags.count > 1 %}
                <a href="javascript:void(0);" id="more-tags-link" class="show-more-less" onclick="toggleExtraTags()">Show more</a>
            {% endif %}
        </div>

        {% if image.description %}
        <div class="card bg-light p-2 mb-4">
            
            <p>{{ image.description }}</p>

        </div>
        {% endif %}
        


        <div class="d-flex align-items-start mb-3">
            {% if user.userprofile.profile_picture %}
                <img src="{{ user.userprofile.profile_picture.url }}" alt="Avatar" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
            {% else %}
                <img src="{% static 'img/placeholder.png' %}" alt="Avatar" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
            {% endif %}
            <form method="post" action="{% url 'submit_comment' image.id %}" class="flex-grow-1 d-flex align-items-center mt-2">
                {% csrf_token %}
                <div class="form-group flex-grow-1 mb-0">
                    {{ comment_form.content }}
                </div>
                <button type="submit" class="btn btn-primary ml-2">Comment</button>
            </form>
        </div>

        <h4>Comments ({{ comments|length }})</h4>
            <div class="comments-section mb-4">
                <ul class="list-group">
                    {% for comment in comments %}
                        <li class="list-group-item">
                            <div class="d-flex align-items-start">
                                {% if comment.user.userprofile.profile_picture %}
                                    <img src="{{ comment.user.userprofile.profile_picture.url }}" alt="Avatar" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
                                {% else %}
                                    <img src="{% static 'img/placeholder.png' %}" alt="Avatar" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
                                {% endif %}
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-1">{{ comment.user.username }}</h5>
                                        <small class="text-muted">{{ comment.created_at|date:"F j, Y, g:i a" }}</small>
                                    </div>
                                    <p class="mb-1">{{ comment.content }}</p>
                                    <a href="{% url 'report_comment' comment.id %}" class="text-danger">
                                        <i class="fas fa-flag"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>



    </div>
</div>





<script>
    document.getElementById('toggle-button').addEventListener('click', function() {
        var select = document.getElementById('album_id');
        var button = document.getElementById('toggle-button');
        if (select.style.display === 'none' || select.style.display === '') {
            select.style.display = 'block';
            button.style.borderTopLeftRadius = '0';
            button.style.borderBottomLeftRadius = '0';
        } else {
            select.style.display = 'none';
            button.style.borderRadius = '0.25rem';
        }
    });

    function toggleExtraTags() {
        var extraTags = document.querySelectorAll('.extra-tags');
        var moreTagsLink = document.getElementById('more-tags-link');
        if (extraTags.length > 0 && moreTagsLink) {
            extraTags.forEach(function(tag) {
                if (tag.style.display === 'none') {
                    tag.style.display = 'inline-block';
                    moreTagsLink.textContent = 'Show less';
                } else {
                    tag.style.display = 'none';
                    moreTagsLink.textContent = 'Show more';
                }
            });
        }
    }

    // Ensure initial state is set correctly
    document.addEventListener('DOMContentLoaded', function() {
        var extraTags = document.querySelectorAll('.extra-tags');
        var moreLink = document.getElementById('more-tags-link');
        if (extraTags.length > 0 && moreLink) {
            extraTags.forEach(function(tag) {
                tag.style.display = 'none';
            });
            moreLink.textContent = 'Show more';
        }
    });
</script>
{% endblock %}