{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}

<div style="text-align: center;">
    <img src="{{ image.image_file.url }}" alt="{{ image.title }}" style="max-width: 100%; max-height: calc(100vh - 160px); height: auto;">
</div>


<div class="bg-light">
    test
</div>
{% if image.user == user %}
    <p>Uploaded by: <a href="{% url 'profile' %}">{{ image.user.username }}</a></p>
{% else %}
    <p>Uploaded by: <a href="{% url 'user_profile' image.user.username %}">{{ image.user.username }}</a></p>
{% endif %}
<h2>{{ image.title }}</h2>


<p>{{ image.description }}</p>

{% if user.is_authenticated %}
    <h3>Add to Album</h3>
    <form method="post" action="{% url 'add_to_album' image.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="album_id">Select Album</label>
            <select name="album_id" id="album_id" class="form-control">
                {% for album in user_albums %}
                    <option value="{{ album.id }}">{{ album.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add to Album</button>
    </form>
{% endif %}

<h3>Comments</h3>
<ul>
    {% for comment in comments %}
        <li>
            <p>{{ comment.content }}</p>
            <a href="{% url 'report_comment' comment.id %}" class="text-danger">
                <i class="fas fa-flag" style="font-size: 24px;"></i> Report
            </a>
        </li>
    {% endfor %}
</ul>

<h3>Submit a Comment</h3>
<form method="post" action="{% url 'submit_comment' image.id %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}