{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<h1>Gallery</h1>

<form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Search images...">
    <button type="submit">Search</button>
</form>

<ul class="list-unstyled">
    {% for image in page_obj %}
        <li class="media mb-4">
            <img src="{{ image.image_file.url }}" class="mr-3" alt="{{ image.title }}" style="width: 100px; height: auto;">
            <div class="d-flex justify-content-around mt-2">
                <a href="{% url 'like_image' image.id %}" class="text-success">
                    <i class="fas fa-thumbs-up" style="font-size: 24px;"></i>
                </a>
                <a href="{% url 'dislike_image' image.id %}" class="text-danger">
                    <i class="fas fa-thumbs-down" style="font-size: 24px;"></i>
                </a>
                <a href="{% url 'download_image' image.id %}" class="text-primary">
                    <i class="fas fa-download" style="font-size: 24px;"></i>
                </a>
                <a href="{% url 'favorite_image' image.id %}" class="text-warning">
                    <i class="fas fa-star" style="font-size: 24px;"></i>
                </a>
            </div>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="{% url 'image_detail' image.id %}">{{ image.title }}</a></h5>
                {{ image.description }}
            </div>
        </li>
    {% endfor %}
</ul>

<!-- Pagination Controls -->
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}