{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>{{ user_profile.user.username }}'s Profile</h2>
<img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px;">
<p><strong>Bio:</strong> {{ user_profile.bio }}</p>
<p><strong>Social Links:</strong></p>
<ul>
    {% for key, value in user_profile.social_links.items %}
        {% if value %}
            <li><strong>{{ key }}:</strong> <a href="{{ value }}" target="_blank">{{ value }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3>Uploaded Images</h3>
<div class="row">
    {% for image in user_images %}
        <div class="col-md-3">
            <a href="{% url 'image_detail' image.id %}">
                <img src="{{ image.image_file.url }}" alt="{{ image.title }}" class="img-thumbnail" style="width: 100%;">
            </a>
        </div>
    {% endfor %}
</div>
<a href="{% url 'user_gallery' user_profile.user.username %}" class="btn btn-primary mt-3">View All Images</a>
{% endblock %}