{% extends "base.html" %}

{% block title %}Update Image{% endblock %}

{% block content %}
<h2>Update Image</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="tags_to_remove" id="tags-to-remove">
    <div id="tag-buttons">
        {% for tag in form.instance.tags.all %}
            <button type="button" class="tag-button btn btn-secondary" data-tag="{{ tag.name }}">{{ tag.name }} &times;</button>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary my-4">Save</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tagButtons = document.querySelectorAll('.tag-button');
        const tagsToRemoveField = document.getElementById('tags-to-remove');

        tagButtons.forEach(button => {
            button.addEventListener('click', function() {
                const tagName = this.getAttribute('data-tag');
                let tagsToRemove = tagsToRemoveField.value.split(',').filter(tag => tag.trim() !== '');
                if (!tagsToRemove.includes(tagName)) {
                    tagsToRemove.push(tagName);
                }
                tagsToRemoveField.value = tagsToRemove.join(',');
                this.remove();
            });
        });
    });
</script>
{% endblock %}