{% extends "base.html" %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ user_profile.user.username }}'s Profile</h2>
    {% if user_profile.profile_picture %}
        <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px;">
    {% else %}
        <img src="{% static 'img/placeholder.png' %}" alt="Default Profile Picture" class="img-thumbnail" style="max-width: 200px;">
    {% endif %}

    <form method="post" action="{% url 'follow_user' user_profile.user.id %}">
        {% csrf_token %}
        {% if is_following %}
            <button type="submit" class="btn btn-danger">Unfollow</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Follow</button>
        {% endif %}
    </form>

    <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
    <p><strong>Social Links:</strong></p>
    <ul>
        {% for key, value in user_profile.social_links.items %}
            {% if value %}
                <li><strong>{{ key }}:</strong> <a href="{{ value }}" target="_blank">{{ value }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <h3>
        Uploaded Images
        <a href="{% url 'user_gallery' user_profile.user.username %}" class="btn btn-primary btn-sm ml-2">View All Images</a>
    </h3>
    <div class="row">
        {% for image in user_images %}
            <div class="col-md-3 position-relative">
                <a href="{% url 'image_detail' image.id %}">
                    <img src="{{ image.image_file.url }}" alt="{{ image.alt_text|default:image.description|default:image.title }}" class="img-thumbnail" style="width: 100%;">
                </a>
                {% if image.user == user %}
                    <a href="{% url 'update_image' image.id %}" class="position-absolute" style="top: 10px; right: 10px; color: white;">
                        <i class="fas fa-edit" style="font-size: 24px;"></i>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <h3>
        Albums
        <a href="{% url 'user_albums' user_profile.user.username %}" class="btn btn-primary btn-sm ml-2">View All Albums</a>
    </h3>
    <ul>
        {% for album in user_albums %}
            <li><a href="{% url 'album_detail' album.id %}">{{ album.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}